[submodule "module"]
	path = module
	url = git@github.com:dasasdhba/fodot-module.git

[submodule "library"]
	path = library
	url = git@github.com:dasasdhba/fodot-library.git
[submodule "addons/Fodot"]
	path = addons/Fodot
	url = git@github.com:dasasdhba/fodot-plugin.git
